@{
    Layout = "_LiffLayout";
    ViewData["Title"] = "Sign In Page";
}

<div class="text-center">
    <h1 id="line" class="display-4">Sign In</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>